<!DOCTYPE html>
<html>
<head>
    <title>{% if task_id %}Edit Task{% else %}Add Task{% endif %}</title>
</head>
<body>

<h2>{% if task_id %}Edit Task{% else %}Add Task{% endif %}</h2>

<form action="{{ url_for('edit_task', task_id=task_id) if task_id else url_for('new_task') }}" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.description.label }}<br>
        {{ form.description(size=32) }}
    </p>
    <p>
        {{ form.priority.label }}<br>
        {{ form.priority() }}
    </p>
    <p>
        {{ form.is_completed.label }}<br>
        {{ form.is_completed() }}
    </p>
    <p>
        {{ form.completed_at.label }}<br>
        {{ form.completed_at() }}
    </p>
    <p>
        <input type="submit" value="{% if task_id %}Update Task{% else %}Add Task{% endif %}">
    </p>
</form>

</body>
</html>
